.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    align-items: center;
}
.grillaboton{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}